.lmjfooter{
    color :black;
    padding: 32px;
    background-color: aquamarine;
    border-top: solid 3px #000000;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    text-align: start;
    flex-wrap: wrap;
}

.lmjfooterCopyright{
    margin: 25px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}